# Node.js
node_modules/

# macOS
.DS_Store

# Editor
.vscode/

# Build
/build/
/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/jspm_packages/

# Testing
/coverage/

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production build
/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# irrelevant code with submission
/learning
.eslintrc.cjs
package-lock.json
public
index.html
vite.config.js
.env